.main{
    background-image: linear-gradient(to top ,rgb(104, 236, 104), rgb(230, 230, 74));
}
.e-card {
    /* margin: 40px auto; */
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 90%;
    height: 370px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 840px;
    height: 900px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#086701,#01ba26 60%,#0010eb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    /* padding-bottom: 1em; */
  }
  
  .infotop {
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 0em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 10px;
  }
  
  .name {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 1em;
    /* text-transform: lowercase; */
  }
  
  .wave:nth-child(2) {
    top: 310px;
  }
  .wave:nth-child(3) {
    top: 290px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  .wave-new {
  width: 200%;
  height: 14px;
  background: rgba(255, 255, 255, 0.35);
  position: absolute;
  bottom: 0;
  left: -50%;
  border-radius: 50%;
  filter: blur(5px);
  animation: waveMoveNew 6s infinite linear;
}

.wave-new:nth-child(2) {
  opacity: 0.6;
  animation-duration: 8s;
}

.wave-new:nth-child(3) {
  opacity: 0.4;
  animation-duration: 12s;
}

@keyframes waveMoveNew {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(30%);
  }
}



  /* cards styling */
  /* From Uiverse.io by gharsh11032000 */ 
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 20px;
  border-radius: 22px;
  /* height: 330px; */
  /* color: #ffffff; */
  overflow: hidden;
  background: #0a3cff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #ced8ff;
  z-index: -1;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  /* font-size: 18px; */
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.patterncon {
  background: url("../assets/headerbg.png");
 background-position: center;
 background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* laptop style */
.laptop {
  transform: scale(0.8);
}
.laptop.animate .screen {
  animation: open 4s forwards;
}


.screen {
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px #000;
  height: 318px;
  width: 518px;
  margin: 0 auto;
  padding: 9px 9px 23px 9px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/homepagescreenshot.png');
  background-size: cover; /* Ensures the image covers the entire area, possibly cropping some parts */
  background-position: center; /* Centers the image in the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-color: #000; 
  /* opacity: .4; */
  /* linear-gradient(
    15deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  ); */
  transform-style: preserve-3d;
  transform: perspective(1900px) rotateX(-88.5deg);
  transform-origin: 50% 100%;
  /* Ensure that the initial state is applied */
  animation: none;
}
@keyframes open {
  0% {
    transform: perspective(1900px) rotateX(-88.5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}
.screen::before {
  content: "";
  width: 518px;
  height: 12px;
  position: absolute;
  background: linear-gradient(#979899, transparent);
  top: -3px;
  transform: rotateX(90deg);
  border-radius: 5px 5px;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #fff;
}
.header {
  width: 100px;
  height: 12px;
  position: absolute;
  background-color: #000;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -0%);
  border-radius: 0 0 6px 6px;
}
.screen::after {
  background: linear-gradient(to bottom, #272727, #0d0d0d);
  border-radius: 0 0 20px 20px;
  bottom: 2px;
  content: "";
  height: 24px;
  left: 2px;
  position: absolute;
  width: 514px;
}
.keyboard {
  background: radial-gradient(circle at center, #e2e3e4 85%, #a9abac 100%);
  border: solid #a0a3a7;
  border-radius: 2px 2px 12px 12px;
  border-width: 1px 2px 0 2px;
  box-shadow: inset 0 -2px 8px 0 #6c7074;
  height: 24px;
  margin-top: -10px;
  position: relative;
  width: 620px;
  z-index: 9;
}
.keyboard::after {
  background: #e2e3e4;
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 0 4px 2px #babdbf;
  content: "";
  height: 10px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 0;
  width: 120px;
}
.keyboard::before {
  background: 0 0;
  border-radius: 0 0 3px 3px;
  bottom: -2px;
  box-shadow: -270px 0 #272727, 250px 0 #272727;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 40px;
}

/* button inside laptop for desktop */
.button-container {
  display: flex;
  align-items: center;
}

.button-style {
  background-color: #ffff1a;
  padding: 12px 24px;
  font-weight: bolder;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  font-family:'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px ;
  transition: background-color 0.3s ease;
}

.button-style:hover {
  background-color: #c91616;
  color: white;
}
.button-style:active {
  background-color: #149603;
}

.pulse-icon {
  color: #f30303; /* Eye-catching color */
  animation: pulsem 1s infinite;
  font-size: 20px; /* Adjust size as needed */
}

.pulse-icon:hover{
  color: #f2ff00;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* laptop for mobile style */
.laptopm {
  transform: scale(0.8);
}
.laptopm.animatem .screenm {
  animation: openm 4s forwards;
}
.screenm {
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #c8cacb, inset 0 0 0 10px #000;
  height: 220px;
  width: 310px;
  margin: 0 auto;
  padding: 9px 9px 23px 9px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: */
  /* url('../assets/Screenshot\ 2024-09-14\ 145842.png'); */
   /* linear-gradient(
    15deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  ); */
  background-image: url('../assets/homepagescreenshot.png');
  background-size: cover; /* Ensures the image covers the entire area, possibly cropping some parts */
  background-position: center; /* Centers the image in the element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-color: #000; 
  transform-style: preserve-3d;
  transform: perspective(1900px) rotateX(-88.5deg);
  transform-origin: 50% 100%;
  /* Ensure that the initial state is applied */
  animation: none;
}
@keyframes openm {
  0% {
    transform: perspective(1900px) rotateX(-88.5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}
.screenm::before {
  content: "";
  width: 310px;
  height: 12px;
  position: absolute;
  background: linear-gradient(#979899, transparent);
  top: -3px;
  transform: rotateX(90deg);
  border-radius: 5px 5px;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  text-shadow: 0 0 5px #fff;
}
.headerm {
  width: 100px;
  height: 8px;
  position: absolute;
  background-color: #000;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -0%);
  border-radius: 0 0 6px 6px;
}
.screenm::after {
  background: linear-gradient(to bottom, #272727, #0d0d0d);
  border-radius: 0 0 20px 20px;
  bottom: 2px;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  width: 310px;
}
.keyboardm {
  background: radial-gradient(circle at center, #e2e3e4 85%, #a9abac 100%);
  border: solid #a0a3a7;
  border-radius: 2px 2px 12px 12px;
  border-width: 1px 2px 0 2px;
  box-shadow: inset 0 -2px 8px 0 #6c7074;
  height: 16px;
  margin-top: -10px;
  position: relative;
  width: 350px;
  z-index: 9;
}
.keyboardm::after {
  background: #646565;
  border-radius: 0 0 10px 10px;
  box-shadow: inset 0 0 4px 2px #babdbf;
  content: "";
  height: 10px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 0;
  width: 120px;
}
.keyboardm::before {
  background: 0 0;
  border-radius: 0 0 3px 3px;
  bottom: -2px;
  box-shadow: -270px 0 #272727, 250px 0 #272727;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  /* width: 20px; */
}
 /* button inside laptop */
.button-containerm {
  display: flex;
  align-items: center;
}

.button-stylem {
  background-color: #ffff1a;
  padding: 6px 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  font-family:'Poppins','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* letter-spacing: 1px ; */
  transition: background-color 0.3s ease;
}

.button-stylem:hover {
  background-color: #ff0000;
}
.button-stylem:active {
  background-color: #149603;
}

.pulse-iconm {
  color: #f30303; /* Eye-catching color */
  animation: pulsem 1s infinite;
  font-size: 20px; /* Adjust size as needed */
}

.pulse-iconm:hover{
  color: #f2ff00;
}

@keyframes pulsem {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* increasing numbere card css */
/* From Uiverse.io by bhaveshxrawat */ 
.incCard {
  width: 190px;
  height: 254px;
  /* background: #07182E; */
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}



.incCard::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 170%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.incCard::after {
  content: '';
  position: absolute;
  background: #FFB75E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */




/* increasing numbere white card css */
/* From Uiverse.io by bhaveshxrawat */ 
.incCardWhite {
  width: 190px;
  height: 254px;
  /* background: #07182E; */
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}



.incCardWhite::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 170%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.incCardWhite::after {
  content: '';
  position: absolute;
  background: #FFf;  /* fallback for old browsers */
  inset: 5px;
  border-radius: 15px;
}  
/* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
  padding: 10px;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  padding-left: 2px;
  white-space: nowrap; /* Ensure the content stays on one line */
  animation: marquee 35s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-80%); /* Move the content to the left by half its width */
  }
}


/* From Uiverse.io by ShrinilDhorda */ 
.btn {
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}