@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0% { transform: translateY(0) translateX(0); opacity: 0.7; }
  50% { transform: translateY(-25px) translateX(20px); opacity: 1; }
  100% { transform: translateY(0) translateX(0); opacity: 0.7; }
}

@keyframes floatReverse {
  0% { transform: translateY(0) translateX(0); opacity: 0.7; }
  50% { transform: translateY(25px) translateX(-20px); opacity: 1; }
  100% { transform: translateY(0) translateX(0); opacity: 0.7; }
}


@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #ffffff; /* border color */
  }
}
